@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic);

*{margin: 0;}
html,body{margin: 0 auto;height: 100%;min-width: 1280px;}
	.lookingfor-keeper{margin: 0 auto;width: 1280px;}
	.toparea--header{height:200px;background-color: #262628;position: relative;font-family: 'PT Sans Caption', sans-serif;}
		.column{float:left;}
		.w30{width: 30%;}
			.toparea-header--column-logo{display: table-cell;line-height: 200px;}
				.lookingfor-logo{vertical-align: middle;display: inline-block;width: 100%;max-width: 383px;cursor: pointer;}
		.w70{width: 70%;}
			.toparea-header--column-right{line-height: 200px;}
				.inner--column-right{padding-top: 70px;}
				.b-search{width:55%;padding: 16px 2% 0 5%;float:left;line-height: 20px;}
					.srch-field{border:0;outline:none;width:100%;font-size: 13px;padding: 12px 6px;font-family: 'PT Sans Caption', sans-serif;}
					.b-search span{color: #fff;cursor: pointer;}
					.b-search span:hover{text-decoration: underline;}
				.header-btns{width:35%;height: 40px;display: inline-block;padding-left: 3%;margin-top: 15px;float:left;}
					.reg-button{width:55%;height: 100%;float: left;background-color: #e1443a; line-height: 40px;overflow: hidden;color: #fff;text-transform: uppercase;text-align: center;border-bottom: 2px solid #b93229;cursor: pointer;}
						.reg-button span{font-size: 12px;font-weight: 700;letter-spacing: 0.1em;}
					.blue-button{width:40%;height: 100%;float: left;background-color: #24b7b4;margin-left: 5%;line-height: 40px;overflow: hidden;color: #fff;text-transform: uppercase;text-align: center;border-bottom: 2px solid #14918f;cursor: pointer;}
						.blue-button span{font-size: 12px;font-weight: 700;letter-spacing: 0.1em;}
	.menu-strip{height: 60px;background-color: #e1443a;z-index: 3;position: relative;}
		.lookingfor-menu{list-style: none;margin: 0;padding: 0;float: left;}
			.lookingfor-menu li{display: inline-block;height: 60px;cursor: pointer;margin-left: -5px;}
				.left-triangle{display: inline-block; border-left: 30px solid transparent; border-bottom: 60px solid #e1443a; vertical-align: top;margin-left: -18px;}
				.right-triangle{display: inline-block; border-right: 30px solid transparent; border-top: 60px solid #e1443a; vertical-align: top;margin-right: -18px;}
				.menu-item{display: inline-block; background-color: #e1443a; padding: 0 10px; line-height: 60px; height: 60px; text-align: center; vertical-align: top; color: white;margin: 0 -5px;font-family: 'PT Sans Caption', sans-serif;text-transform: uppercase;font-size: 12px;font-weight: 600;letter-spacing: 0.1em;cursor: pointer;}
				.interline{display:inline-block; background: #c8382f;width: 1px;height: 60px;transform: skew(153deg);-webkit-transform: skew(153deg);-moz-transform: skew(153deg);-o-transform: skew(153deg);-ms-transform: skew(153deg);}
				.interline-shadow{display:inline-block; background: #e85a51;margin-left: -4px; width: 1px;height: 60px;transform: skew(153deg);-webkit-transform: skew(153deg);-moz-transform: skew(153deg);-o-transform: skew(153deg);-ms-transform: skew(153deg);}
				.last{display: inline-block;height: 60px;}
				.active-tab	.left-triangle{display: inline-block; border-left: 30px solid transparent; border-bottom: 60px solid #b93229; vertical-align: top;margin-left: -18px;}
				.active-tab .right-triangle{display: inline-block; border-right: 30px solid transparent; border-top: 60px solid #b93229; vertical-align: top;margin-right: -18px;}
				.active-tab .menu-item{display: inline-block; background-color: #b93229; padding: 0 10px; line-height: 60px; height: 60px; text-align: center; vertical-align: top; color: white;margin: 0 -5px;font-family: 'PT Sans Caption', sans-serif;text-transform: uppercase;font-size: 12px;font-weight: 600;letter-spacing: 0.1em;cursor: pointer;}
				.hover-tab	.left-triangle{display: inline-block; border-left: 30px solid transparent; border-bottom: 60px solid #b93229; vertical-align: top;margin-left: -18px;}
				.hover-tab .right-triangle{display: inline-block; border-right: 30px solid transparent; border-top: 60px solid #b93229; vertical-align: top;margin-right: -18px;}
				.hover-tab .menu-item{display: inline-block; background-color: #b93229; padding: 0 10px; line-height: 60px; height: 60px; text-align: center; vertical-align: top; color: white;margin: 0 -5px;font-family: 'PT Sans Caption', sans-serif;text-transform: uppercase;font-size: 12px;font-weight: 600;letter-spacing: 0.1em;cursor: pointer;}
		.addition-item{float: right;margin-right: 10px;padding-left: 0;}
			.addition-item li{display: inline-block;height: 60px;cursor: pointer;margin-left: -5px;}


	.lookingfor-wrapper--content{min-height: 100%;height: auto !important;height: 100%;margin: 0 auto -320px;margin-top: -260px;background: url('../i/backpattern.png');font-family: 'PT Sans Caption', sans-serif;}
		.lookingfor-content{width:100%;overflow: hidden;margin:60px 0;}
			.column{float: left;}
			.w21{width:21%;}
			.w58{width: 58%;}
				.cc-item{width: 50%;float: left;margin-bottom: 30px;}
					.cc-item-inner{padding: 0 15px;}
						.alone-item{padding-bottom: 20px;background-color: #fff;overflow: hidden;text-align: center;}
							.item-img{height: 263px;}
							.offer-category{display: inline-block;color: #f15c22;border: 3px solid #f15c22;text-transform: uppercase;font-size: 13px;padding: 2px 5px;margin-top: 10px;cursor: pointer;}
								.offer-category:hover{border-color:#5fc5ba; color: #5fc5ba;}
								.offer-category-hover{border-color:#5fc5ba; color: #5fc5ba;}
							.offer-name{display: inline-block;text-transform: uppercase;font-size: 15px;margin-top: 15px;font-weight: 700;cursor: pointer;}
								.offer-name:hover{color: #5fc5ba;}
								.offer-name-hover{color: #5fc5ba;}
			.left-side{padding-right: 15px;}
				.ls-item{padding: 25px 30px;background-color: #fff;word-wrap: break-word;}
					.ls-item h2{text-transform: uppercase;font-size: 20px;font-weight: lighter;}
					.ls-item a{color: #f05033;font-weight: 300;}
					.ls-item p{margin: 15px 0;}
					.more-link{text-transform: uppercase;text-decoration: none;}
				.weather-and-exch--block{padding: 35px 50px;text-align: center;background-color: #fff;word-wrap: break-word;margin-top: 50px;text-transform: uppercase;font-size: 15px;}
					.currweather-icon{margin-bottom: 15px;}
					.weather-state{font-weight: 700;}
					.deg-state{color: #5fc5ba;font-weight: 700;}
					.euro{margin-top: 30px;}
					.dollar{}
				.v-bmargin{margin-bottom: 30px;}
			.right-side{padding-left: 15px;word-wrap: break-word;}
				.right-side ul{list-style: none;padding: 0;}
				.rs-item{padding: 15px 30px;background-color: #fff;}
				#h-top-border{ position:absolute;background-color: #c2c2c2;height: 3px;top:0;}
				#h-bottom-border{ position:absolute;background-color: #c2c2c2;height: 3px;}
				#v-left-border{position: absolute;width: 3px;background-color: #c2c2c2;left:0;}
				#v-right-border{position: absolute;width: 3px;background-color: #c2c2c2;right:0;}
					.rs-item h2{text-transform: uppercase;font-size: 20px;}
					.rs-item .news-date{color: #c2c2c2;font-size: 14px;}
					.rs-item a{color: #f05033;font-weight: 300;}
					.h-news_item{cursor: pointer;}
						.h-news_item:hover{color: #f05033;}
					.news-preview{display: none;}
			.b-wrapone{background: #fff; padding: 45px 80px;margin: 0 15px;font-family: 'PT Sans Caption', sans-serif;}
				.b-wrapone h1{text-transform: uppercase;display: inline-block;font-size: 27px;font-weight: 700;}
				.b-wrapone h2{text-transform: uppercase;display: inline-block;font-size: 22px;font-weight: 700;}
				.b-wrapone h3{text-transform: uppercase;margin: 30px 0;}
		.footer-push{height: 320px;}
		.header-push{height: 260px;}


	footer{background-color: #1e1d21;height: 320px;font-family: 'PT Sans Caption', sans-serif;}
		.img-footer{background: url('../i/imgfooter.png') no-repeat;height: 320px;width: 700px;margin: 0 auto;text-align: center;overflow: hidden;}
			.footer-menu{list-style: none;padding: 0;}
				.footer-menu li{display: inline-block;color: #fff;font-size: 15px;text-transform: uppercase;margin-left: 20px;font-weight: 600;cursor: pointer;margin-top: 30px;}
			.img-footer img{display: inline-block;margin: 35px 0;}
			.img-footer p{color: #fff;}
				.img-footer p a{color: #fff;}


/********user-registration********/
.choosebox{display:inline-block;border-top: 1.5px solid #6feae7; border-bottom: 1.5px solid #14918f;margin: 20px 0;}
	.b-chooseway{background-color: #1db0ad;display: inline-block;}
	.rightway{padding:15px 15px 15px 30px;margin-left: -39px;}
	.leftway{padding: 15px 2px 15px 15px;}
		.b-chooseway p{font-size: 12px;color: #fff;text-transform: uppercase;font-weight: 700;letter-spacing: 0.1em;}
	.r-triangle{display: inline-block; border-right: 35px solid transparent; border-top: 45px solid #207c7b; vertical-align: top;margin-left: -5px;z-index: 5;position: relative;}
	.way-active{background-color: #207c7b;}
		.way-active p{color:#51a19f;}
	.rtrb-triangle{display: inline-block; border-right: 35px solid transparent; border-top: 45px solid #1db0ad; vertical-align: top;margin-left: -5px;z-index: 5;position: relative;}

.layot2column{width: 100%;overflow: inherit;}
	.left-column{float: left;width: 50%;}
		.left-inner{padding-right: 15px;}
	.right-column{float: left;width: 50%;}
		.right-inner{padding-left: 15px;}
	.lookingfor-field{display:block;padding-right: 4px; margin-bottom: 30px;}
		.fullsz{width: 100%;}
	.lft-field{float:left;padding-right: 4px; margin-bottom: 30px;}
	.rgt-field{float:right;padding-right: 4px; margin-bottom: 30px;}
		.lookinputs{border:0;outline: none;border: 2px solid #c2c2c2;height: 37px;font-size: 14px;padding: 0;width: 100%;}
		.look-fieldname{font-size: 13px;margin-bottom: 5px;}
			.look-fieldname span{font-style: italic;color: #ccc;}
	.captcha-zone{width: 100%;text-align: center;}
	.b-accept{margin-bottom: 30px;}
.reg-textarea{width: 100%;border: 2px solid #c2c2c2;resize: none;height: 78px;}
.drag-and-drop-zone{border:2px dashed #c2c2c2;width: 100%;border-radius: 15px;height: 120px;line-height: 120px;text-align: center;margin-bottom: 30px;overflow: hidden;}
	.drag-and-drop-zone .dd-img{display: inline-block;vertical-align: middle;}
	.drag-and-drop-zone p{display: inline-block;line-height: 15px;width: 60%;vertical-align: middle;margin-left: 30px;text-align: left;}
	.drag-and-drop-zone p a{font-weight: bold;}
.submit-block{overflow: hidden;width: 100%;}
	.submit-block .reg-button{float: none;margin: 0 auto;margin-top: 30px;}



/********red-button********/
.red-button{background-color: #e1443a; line-height: 40px;overflow: hidden;color: #fff;text-transform: uppercase;text-align: center;border-bottom: 2px solid #b93229;cursor: pointer;}
	.red-button span{font-size: 12px;font-weight: 700;letter-spacing: 0.1em;}

/********calendar-icon********/
.calendar-ico{cursor:pointer;background: url('../i/calendar-icon.png') no-repeat;display: inline-block;width: 16px;height: 16px;float: right;}


/********search-results-pages********/
.no-mtop{margin-top: 0;}
.overhid{overflow: hidden;padding: 0 25px;}
.mt-50{margin-top: 50px;}

	.top-category-menu{background-color: #00b1b0;height: 70px;margin: 0 15px;line-height: 70px;font-size: 14px;position: relative;}
		.categories-list{list-style: none;padding: 0;float: left;}
			.categories-list li{display: inline-block;font-weight: 600;color: #fff;text-transform: uppercase;margin-left: 30px;cursor: pointer;float: left;}
					.categories-list li p{display: inline-block;}
				.left-trg-categ{display: inline-block; border-left: 30px solid transparent; border-bottom: 70px solid #0e7573; vertical-align: top;margin-left: -30px;}
				.left-square-actv{height: 70px;width: 30px;display:inline-block;margin-left: -30px;background-color: #0e7573;float: left;}
				.right-trg-categ{display: inline-block; border-right: 30px solid transparent; border-top: 70px solid #0e7573; vertical-align: top;margin-right: -30px;}
				.active-category{background-color: #0e7573;}
				.active-category p{color: #69b3b2;}
		.right-of-catlist{float: right;margin-right: 30px;}
			.right-of-catlist img{float: left;margin-top: 22px;}
			.right-of-catlist span{float:left;color: #fff;font-weight: 600;text-transform: uppercase;margin-left: 5px;}
	.searchparams{margin-top: 120px;background-color: #00b1b0;position: relative;}
		.searchparams .params-inner{padding: 28px 18px;}
			.params-inner h3{font-size: 15px;font-weight: 600;color: #fff;text-transform: uppercase;}
			.wrap-select{margin: 20px 0;}
				.srch-select{width: 100%;}
		.searchparams .srchspec-inner{padding: 30px;color:#fff;}
			.srchspec-inner h3{font-size: 15px;font-weight: 600;color: #fff;text-transform: uppercase;margin-bottom: 20px;}
				.check-worknow{margin-bottom: 20px;}
				.checkfld-wrap{margin-bottom: 10px;}
			.side-2nd-header{margin: 25px 0;}
			

.search-result{margin-top: 30px;}
	.subject-item{width: 29%;margin-bottom: 80px;float: left;margin-left: 6%;position: relative;}
		.subject-item:nth-child(3n+1){margin-left: 0}
		.subject-logo{height: 140px;width: 100%;border:2px solid #f2f2f2;line-height: 140px;text-align: center;position: relative;}
		.action-logo{cursor:pointer;height: 140px;width: 100%;border:2px solid #f2f2f2;line-height: 140px;text-align: center;position: relative;}
			.subject-logo img{vertical-align: middle;}
			.action-logo img{vertical-align: middle;}
			.subj-overlay{cursor:pointer;display:none;width: 100%;height: 100%;background-color: #000;opacity: 0.8;position: absolute;top:0;left:0;right:0;bottom: 0;overflow: hidden;line-height: 136px;}
				.inner-subj-overlay{display: inline-block;padding:55px 25px;border:2px solid #fff;vertical-align: middle;}
					.inner-subj-overlay p{line-height: 10px;color: #fff;text-transform: uppercase;font-size: 14px;font-weight: 600;letter-spacing: 0.1em;}
			.share-label{position: absolute;background: #e94c42;padding: 2px 10px;top: 100px;left:0;text-transform: uppercase;color: #fff;font-weight: 600;}
		.subject-name{position: absolute;text-align: center;bottom: -50px;left: 19%;}
		.action-name{position: absolute;text-align: center;bottom: -50px;left: 19%;}
		.notice{width:45px;height:45px;background-color: #00b1b0;border-radius: 50%;position: absolute;color: #fff;line-height: 45px;text-align: center;}
		.on-top-right-corner{top:-22.5px;right:-22.5px;}
		.action-dsc-wrapper{position: absolute;height: 500px;width: 300px;background-color: #fff;top:-40px;display: none;left: -43%;box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);z-index: 4;}
		.z5{z-index: 5;}
			.dscr-info{margin-top: 270px;padding: 0 35px;}
				.dscr-info h4{font-weight: 700;font-size: 16px;color: #493838;}
				.descr-text{margin: 20px 0;}
				.dscr-info a{text-transform: uppercase;text-decoration: none;color: #00b1b0;font-weight: 400;}
.more-block{overflow: hidden;width: 100%;margin-top:30px;}
	.more-block .blue-button{float: none;margin: 0 auto;}


	.h-rounded-btn{cursor:pointer;position:absolute;width: 40px;height:20px;background: #e94c42 url('../i/arw-rnd-btn-h.png') center no-repeat;border-radius: 5px;left: 50%;bottom: -10px;box-shadow: 0px -4px 0px #e9f4f4,-4px -4px 0px #e9f4f4,4px -4px 0px #e9f4f4;}
	.v-rounded-btn{cursor:pointer;position:absolute;width: 20px;height:40px;background: #e94c42 url('../i/arw-rnd-btn-v.png') center no-repeat;border-radius: 5px;top:20px;}
		.on-left{right:-10px;box-shadow: 0px -4px 0px #e9f4f4,-4px -4px 0px #e9f4f4,-4px 4px 0px #e9f4f4;}
		.on-right{left:-10px;box-shadow: 0px -4px 0px #e9f4f4,4px -4px 0px #e9f4f4,4px 4px 0px #e9f4f4;background: #e94c42 url('../i/arw-rnd-btn-vr.png') center no-repeat;}

	
/********rouble-foto page********/
a.show-all-items{display:block;color: #00b1b0;margin-top: 40px;text-transform: uppercase;font-size: 14px;font-weight: 600;text-decoration: none;letter-spacing: 0.07em;}
.rouble-photos{overflow: hidden;margin-top: 40px;}


/********stay-a-partner page********/
.static-content{position: relative;display: inline-block;width: 100%;}
	ol{padding-left: 20px;list-style: none;counter-reset: point;}
		ol li{margin:15px 0;}
		ol li:before{font-weight: 600;content: counter(point)'. ';counter-increment: point 1;font-weight: 600;position: absolute;left: 0;}
	.vmarged-text{margin: 20px 0;}
	.hl-for-img{margin-top: 20px;}
	.img-descrip{color: #c2c2c2;}
	.static-content table{width: 100%;margin: 40px 0;}
		.static-content table th{border-bottom: 1px solid #c2c2c2;text-align: left;padding:20px 0;}
		.static-content table td{padding: 20px 0 10px 0;border-bottom: 1px solid #c2c2c2;}
	.static-content ul{padding-left: 20px;}
	.static-content ul li{margin: 15px 0;}

	.wrap3blocks{display:inline-block;width: 100%;margin:20px 0 40px 0;}
		.wrap3blocks .b-grey{width: 160px;height: 80px;background-color: #f7f5e4;border-radius: 10px;float: left;margin-left: 35px;line-height: 80px;text-align: center;}
		.b-grey:first-child{margin-left: 0;}
			.b-grey img{vertical-align: middle;}
			.file-info{display: inline-block;margin-left: 10px;text-align: left;height: 25px;width: 60px;position: relative;}
				.file-info p{position: absolute;}
				.file-info .ext{font-weight: bold;line-height: 10px;top: 0;}
				.file-info .fl-size{line-height: 10px;bottom: -10px;}

	.u-opts-cl-flds{display: inline-block;width: 94px;float: left;}
		.u-opts-cl-flds input{margin-bottom: 12px;}
		.wrap-timeperiod{position: relative;}
			.timeperiod{padding-left: 30px;padding-right: 21px; background: url('../i/calendar-icon.png') no-repeat right 5px center;}
			.timeperiod-prefix{position: absolute;top: 10px;left: 5px;}
	.sort-block{display: inline-block;float: left;margin: 22px 0 0 80px;width: 240px;}
		.b-selects{margin-bottom: 12px;}
	.search-reviews{display: inline-block;width: 100%;margin-top: 18px;}
		.search-reviews input::-webkit-input-placeholder{padding-left: 5px;}

	.review-item{margin-top: 30px;font-size: 15px;padding-bottom: 15px;border-bottom: 1px solid #c2c2c2;position: relative; }
		.posting-info{color: #c2c2c2;}
		.review-opts{padding-left: 0;margin-top: 15px;list-style: none;}
			.review-opts li{display:inline-block;margin-left: 40px;}
				.review-opts li a{text-decoration: none;color: #00b1b0;}
			.review-opts li:first-child{margin-left: 0;}
			.review-opts li.current-type{color: #ef4035;border: 3px solid #ef4035;padding: 2px 5px;text-transform: uppercase;font-size: 13px;font-weight: 700;}
		.on-lefside-top{left:-60px;top:0;} /* for notice element*/

